<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>編集</title>
    <link rel="stylesheet" th:href="@{/css/blog_style.css}">
</head>

<body>
    <header>
        <div class="ue">
            <div>
                <p class="title">ブログ編集</p>
            </div>
            <ul class="user-list">
                <li th:text="${accountName}"></li>
                <a th:href="@{/blog/register}">ブログ登録</a>
                <a th:href="@{/account/logout}">ログアウト</a>
            </ul>
        </div>
    </header>
    <main>
        <section class="main-gamen">
            <h1 class="main-title">修正</h1>
            <form th:action="@{/blog/edit/process}"  method="post" enctype="multipart/form-data" class="blog-register-container">
                <div>
                    <div class="blog_text_style">
                        <div class="blog_text_style_space">タイトル</div>
                        <div><input type="text" name="blogTitle" th:value="${blog.blogTitle}" ></div>
                    </div>
                    <div class="blog_text_style">   
                        <div class="blog_text_style_space">カテゴリ</div>
                        <select name="blogCategory" id="blogCategory">
                            <option value="talk" th:selected="${blog.blogCategory} == 'talk'">雑談</option>
                            <option value="lift" th:selected="${blog.blogCategory} == 'lift'">生活と趣味</option>
                            <option value="food" th:selected="${blog.blogCategory} == 'food'">おいしい食事</option>
                            <option value="lore" th:selected="${blog.blogCategory} == 'lore'">勉強と知識</option>
                        </select>
                    </div>
                    <div class="blog_text_style">
                        <div class="blog_text_style_space">画像</div>
                        <input type="file" name="blogImage">
                    </div>
                    <div class="blog_text_style">
                        <div class="blog_text_style_space">詳細</div>
                        <textarea name="blogArticle" id="syousai" placeholder="書きましょう" th:text="${blog.blogArticle}"></textarea>
                    </div>
                </div>
                <div class="button">
					<input type="hidden" name="blogId" th:value="${blog.blogId}">
                    <button>更新</button>
                    <button onclick="history.back();" type="button">戻る</button>
                </div>
            </form>
            <form action="" method="post" class="button">
				<input type="hidden" name="blogId" th:value="${blog.blogId}">
                <button>削除</button>
            </form>
        </section>
    </main>
    <footer>
        <small>Copyright &copy; 個人演習問題</small>
    </footer>
</body>

</html>