<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ブログ一覧</title>
    <link rel="stylesheet" th:href="@{/css/blog_style.css}">
</head>

<body>
    <header>
        <div class="ue">
            <div>
                <p class="title">ブログ一覧</p>
            </div>
            <ul class="user-list">
                <li th:text="${accountName}"></li>
                <a th:href="@{/blog/register}">ブログ登録</a>
                <a th:href="@{/account/logout}">ログアウト</a>
            </ul>
        </div>
    </header>
    <main>
        <article>
            <section class="main-gamen">
                <h1 class="main-title">BLOG LIST</h1>
                <ul class="main-list">
                    <li th:each="blog:${blogList}">
                        <a th:href="@{/blog/edit/{blogId}(blogId=${blog.blogId})}">
                            <img th:src="@{/blog-img/{imagePath}(imagePath=${blog.blogImage})}" alt="">
                            <p th:text="${blog.blogTitle}"></p><br>
                            <p th:text="${blog.blogCategory}"></p><br>
							<p th:text="${blog.blogArticle}"></p>
                        </a>
                    </li>
                </ul>
            </section>
        </article>
        
    </main>
</body>

</html>