<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
    <header class="atama">

    </header>
    <main class="karada">
        <section>
            <h2 class="title">Welcome</h2>
            <form th:action="@{/account/login/process}" method="post">
                <table>
                    <tr>
                        <th>Email</th>
                        <td><input type="text" name="accountEmail" required></td>
                    </tr>
                    <tr>
                        <th>Password</th>
                        <td><input type="password" name="accountPassword" required></td>
                    </tr>
                </table>
                <div>
                    <button id="login">ログイン</button>
                </div>
            </form>
            <div class="form-row">
                <p>アカウントが持ってない方：<a th:href="@{/account/register}">作りましょう</a></p>
            </div>
        </section>
    </main>

    <footer>
        <small>Copyright &copy; 個人演習問題</small>
    </footer>
</body>

</html>