<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登録</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>

<body>
    <header class="atama">
    </header>
    <main class="karada">
        <section>
            <h2 class="title">Register</h2>
            <form th:action="@{/account/register/process}" method="post">
                <table>
                    <tr>
                        <th>名前</th>
                        <td><input type="text" name="accountName" required></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td><input type="text" name="accountEmail" required></td>
                    </tr>
                    <tr>
                        <th>Password</th>
                        <td><input type="password" name="accountPassword" required></td>
                    </tr>
                </table>
                <div>
                    <button id="register">登録</button>
                </div>
            </form>
            <div>
                <p>アカウント持ってた方:<a th:href="@{/account/login}">こちら</a></p>
            </div>
        </section>
    </main>
    <footer>
        <small>Copyright &copy; 個人演習問題</small>
    </footer>
</body>

</html>