
body {
    background-color: #E7CD79;
        margin: 0;
        padding: 0;
}
.atama {
    background-color: #467897;
    padding: 80px;
}
.karada {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}


.title {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #467897;
}
table {
    margin: 0 auto; 
}
th {
    font-size: 18px;
    text-align: left;
    padding: 10px; 
}
td {
    padding: 10px;
    font-size: 18px;
}
button {
    background-color: #467897;
    color: white;
    border-radius: 5px;
    padding: 10px 180px;
    margin-top: 50px;
}
/* ボタンの色変え */
button:hover {
    background-color: #1b6897;
}
footer{
    text-align: center;
}